<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="activerecord" type="Castle.ActiveRecord.Framework.Config.ActiveRecordSectionHandler, Castle.ActiveRecord"/>
  </configSections>
  <connectionStrings>
    <!--<add name="TestPegPayConnectionString" connectionString="Data Source=DBSERVER\PEGPAYDB;Initial Catalog=PegPayGatewayDB;persist security info=True;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>-->
    <add name="TestPegPayConnectionString" connectionString="Data Source=(local);Initial Catalog=ChangeRequestDB;User Id=sa;Password=T3rr1613;" providerName="System.Data.SqlClient"/>
    <add name="PegPayConnectionString" connectionString="Data Source=(local);Initial Catalog=ChangeRequestDB;User Id=sa;Password=T3rr1613;" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <activerecord>

    <config>
      <add key="connection.driver_class" value="NHibernate.Driver.SqlClientDriver" />
      <add key="dialect" value="NHibernate.Dialect.MsSql2000Dialect" />
      <add key="show_sql" value="true" />
      <add key="connection.provider" value="NHibernate.Connection.DriverConnectionProvider" />
      <add key="connection.connection_string" value="UID=sa;Password=T3rr1613;Initial Catalog=ChangeRequestDB;Data Source=(local)" />
      <add value="NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle" key="proxyfactory.factory_class" />
    </config>

  </activerecord>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <bindings>
      <basicHttpBinding>
        <binding maxReceivedMessageSize="10485760"/>
        <binding name="SharedCommonsAPISoap" />
        <binding name="MessengerSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8020/SharedCommonsAPI/Service.asmx"
        binding="basicHttpBinding" bindingConfiguration="SharedCommonsAPISoap"
        contract="SharedCommonsAPI.SharedCommonsAPISoap" name="SharedCommonsAPISoap" />
      <endpoint address="http://192.168.23.15:5099/MailApi/Messenger.asmx"
        binding="basicHttpBinding" bindingConfiguration="MessengerSoap"
        contract="MailApi.MessengerSoap" name="MessengerSoap" />
    </client>
  </system.serviceModel>
  <system.webServer>

    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
