<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <!--<add name="TestPegPayConnectionString" connectionString="Data Source=DBSERVER\PEGPAYDB;Initial Catalog=PegPayGatewayDB;persist security info=True;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>-->
    <add name="TestPegPayConnectionString" connectionString="Data Source=(local);Initial Catalog=ChangeRequestDB;User Id=sa;Password=T3rr1613;" providerName="System.Data.SqlClient"/>
    <add name="PegPayConnectionString" connectionString="Data Source=(local);Initial Catalog=ChangeRequestDB;User Id=sa;Password=T3rr1613;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SharedCommonsAPISoap" />
        <binding name="MessengerSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8020/SharedCommonsAPI/Service.asmx"
        binding="basicHttpBinding" bindingConfiguration="SharedCommonsAPISoap"
        contract="SharedCommonsAPI.SharedCommonsAPISoap" name="SharedCommonsAPISoap" />
      <endpoint address="http://192.168.23.15:5099/MailApi/Messenger.asmx"
        binding="basicHttpBinding" bindingConfiguration="MessengerSoap"
        contract="MailApi.MessengerSoap" name="MessengerSoap" />
    </client>
  </system.serviceModel>
</configuration>